img{
    width:9rem;
}

button{
    width: 7rem;
    height:4rem;
}

.buttons{
    float:right;
    width:30rem;
}

#user_div{
    padding: 3rem;
}

#cpu_div{
    padding: 3rem;
    text-align: center;
}